<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/basic.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
    <link href="../css/my.css" rel="stylesheet">
    <link href="../css/element/index.css" rel="stylesheet">

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="wrapper" v-cloak>
    <nav class="navbar navbar-default navbar-cls-top" style="margin-bottom: 0">
        <div class=navbar-header">
            <a class="navbar-brand" href=" index.html">江大青协志愿管理平台</a>
        </div>
        <div class="header-right">
            <a href="javascript:void(0)" class="btn btn- info" @click="logout" title="退出登录">
                <i class="fa fa-sign-out fa-2x"></i>
            </a>
        </div>
        <div class="header-right">
            <a href="adminInfo.html" class="btn btn-info" title="跳转到个人信息">
                <i class="fa fa-user fa-2x"></i>
            </a>
        </div>
        <div class="header-right" style="padding-top: 25px">
            欢迎您，{{admin.adminName}}
        </div>
    </nav>
    <nav class="navbar-default navbar-side">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="index.html"><i class="fa fa-bar-chart"></i>系统首页</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-yelp"></i>信息展示<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in">
                        <li><a class="active-menu" href="userInfo.html"><i class="fa fa-users"></i>用户信息</a></li>
                        <li><a href="#"><i class="fa fa-heart"></i>志愿活动<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse in">
                                <li><a href="typeInfo.html"><i class="fa fa-table"></i>活动类别</a></li>
                                <li><a href="activity.html"><i class="fa fa-file-text"></i>活动详情</a></li>
                                <li><a href="signup.html"><i class="fa fa-table"></i>报名详情</a></li>

                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-check-square"></i>审核<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse in">
                                <li><a href="check.html"><i class="fa fa-check-square-o"></i>活动审核</a></li>
                                <li><a href="filecheck.html"><i class="fa fa-file-image-o"></i>材料审核</a></li>
                            </ul>
                        </li>

                        <li><a href="#"><i class="fa fa-newspaper-o"></i>新闻<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse in">
                                <li><a href="newstypeInfo.html"><i class="fa fa-table"></i>新闻类别</a></li>
                                <li><a href="allnews.html"><i class="fa fa-file-text-o"></i>新闻详情</a></li>
                                <li><a href="mynews.html"><i class="fa fa-book"></i>我的新闻</a></li>
                                <li><a href="commentInfo.html"><i class="fa fa-comments"></i>评论信息</a></li>
                            </ul>
                        </li>
                        <li><a href="notice.html"><i class="fa fa-bullhorn"></i>公告信息</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-pie-chart"></i>数据分析<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in">
                        <li><a href="completeness.html"><i class="fa fa-check-circle"></i>活动完成度</a></li>
                        <li><a href="rank.html"><i class="fa fa-signal"></i>用户排名</a></li>
                    </ul>

                </li>
                <li><a href="#"><i class="fa fa-cogs"></i>我的<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level collapse in">
                        <li><a href="adminInfo.html"><i class="fa fa-user"></i>个人信息</a></li>
                        <li><a href="updatePassword.html"><i class="fa fa-edit"></i>修改密码</a></li>
                        <li><a href="javascript:void(0)" @click="logout"><i class="fa fa-power-off"></i>退出登录</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"  v-if="CHANGE==1">
                            用户信息列表({{pageInfo.total}})
                        </div>
                        <div class="panel-heading"  v-if="CHANGE==0">
                            用户信息列表({{pageInfo1.total}})
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">

                                <div class="nx-table-header" style="padding-bottom: 40px">
                                    <select style="float: right;margin-left: 10px;padding-top:5px;padding-bottom: 5px"
                                            v-model="classSelected">
                                        <option value="0">请选择检索方式</option>
                                        <option value="1">姓名</option>
                                        <option value="2">学号</option>
                                        <option value="3">学院</option>
                                        <option value="4">专业</option>
                                        <option value="5">班级</option>
                                    </select>
                                    <button type="button" style="float: right" v-on:click="loadTable(1)">搜索</button>

                                    <input type="text" placeholder="请输入搜索内容" v-model="name" @keyup.enter="loadTable(1)">
                                </div>
                                <div style="margin-bottom:10px">
                                    排序方式 <select v-model="order" style="margin-right:50px">
                                    <option value="0">升序</option>
                                    <option value="1">降序</option>
                                </select>
                                    筛选方式<select v-model="Filter">
                                    <option value="0">志愿时长</option>
                                    <option value="1">阳光信用</option>
                                </select>
                                    <input type="text" step="1" v-model="Start" style="width: 70px" placeholder="最低值">
                                    —— <input type="text" step="1" v-model="End"
                                           style="width: 70px;margin-right: 60px" placeholder="最高值" >

                                    性别 <select v-model="gender">
                                    <option value="1">男</option>
                                    <option value="0">女</option>
                                </select>
                                    <button style="float:right;" class="btn btn-sm btn-primary" v-on:click="JIANSUO(1)">检索</button>

                                </div>

                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>姓名</th>
                                        <th>学号</th>
                                        <th>性别</th>
                                        <th>班级</th>
                                        <th>志愿时长</th>
                                        <th>阳光信用</th>
                                        <th>登录时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody v-for="obj in objs">
                                    <tr>
                                        <td>{{obj.id}}</td>
                                        <td>{{obj.userName}}</td>
                                        <td>{{obj.sno}}</td>
                                        <td v-if="obj.sex==1">男</td>
                                        <td v-if="obj.sex==0">女</td>

                                        <td>{{obj.classinfo}}</td>
                                        <td>{{obj.duration}}</td>
                                        <td>{{obj.credit}}</td>
                                        <td>{{obj.lastLoginDate}}</td>
                                        <td>
                                            <button class="btn btn-warning btn-xs" v-on:click="detailLook(obj.id)">查看</button>
                                            <button class="btn btn-primary btn-xs" v-on:click="init(obj)">编辑</button>
                                            <button class="btn btn-danger btn-xs" v-on:click="del(obj.id)">删除</button>

                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                                <ul class="pagination" v-if="CHANGE==1">
                                    <li class="page-item" v-bind:class="{disabled:preActive}">
                                        <a class="page-link" href="javascript:void(0)"
                                           v-on:click="loadTable(pageInfo.pageNum-1)">上一页</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" v-if="pageInfo.pageNum > 1" href="javascript:void(0)"
                                           v-on:click="loadTable(pageInfo.pageNum - 1)">{{pageInfo.pageNum - 1}}</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:void(0)">{{pageInfo.pageNum}}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" v-if="pageInfo.hasNextPage" href="javascript:void(0)"
                                           v-on:click="loadTable(pageInfo.pageNum + 1) ">{{pageInfo.pageNum +1}}</a>
                                    </li>
                                    <li class="page-item" v-bind:class="{disabled:nextActive}">
                                        <a class="page-link" href="javascript:void(0)"
                                           v-on:click="loadTable(pageInfo.hasNextPage?(pageInfo.pageNum + 1):pageInfo.pageNum)">下一页</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" style="color: black"
                                        >共{{pageInfo.pages}}页，当前第{{pageInfo.pageNum}}页，共{{objs.length}}条数据</a>
                                    </li>
                                </ul>
                                <ul class="pagination"  v-if="CHANGE==0">
                                    <li class="page-item" v-bind:class="{disabled:preActive1}">
                                        <a class="page-link" href="javascript:void(0)"
                                           v-on:click="JIANSUO(pageInfo1.pageNum-1)">上一页</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" v-if="pageInfo1.pageNum > 1" href="javascript:void(0)"
                                           v-on:click="JIANSUO(pageInfo1.pageNum - 1)">{{pageInfo1.pageNum - 1}}</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:void(0)">{{pageInfo1.pageNum}}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" v-if="pageInfo1.hasNextPage" href="javascript:void(0)"
                                           v-on:click="JIANSUO(pageInfo1.pageNum + 1) ">{{pageInfo1.pageNum +1}}</a>
                                    </li>
                                    <li class="page-item" v-bind:class="{disabled:nextActive1}">
                                        <a class="page-link" href="javascript:void(0)"
                                           v-on:click="JIANSUO(pageInfo1.hasNextPage?(pageInfo1.pageNum + 1):pageInfo1.pageNum)">下一页</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" style="color: black"
                                        >共{{pageInfo1.pages}}页，当前第{{pageInfo1.pageNum}}页，共{{objs.length}}条数据</a>
                                    </li>
                                </ul>                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="mod">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">请填写信息</span>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input type="hidden" id="id" name="id" v-model="entity.id">
                        <div class="form-group">
                            <div class="col-sm-3 control-label">姓名</div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="entity.userName" placeholder="请输入姓名">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">学号</div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="entity.sno" placeholder="请输入学号">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">性别</div>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio" value="1" v-model="entity.sex">男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="0" v-model="entity.sex">女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">电话</div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="entity.phone" placeholder="请输入电话">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">邮箱</div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="entity.email" placeholder="请输入邮箱">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">学院</div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="entity.college" placeholder="请输入学院">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">专业</div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="entity.major" placeholder="请输入专业">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">班级</div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="entity.classinfo" placeholder="请输入班级">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 control-label">志愿时长</div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" v-model="entity.duration" placeholder="请输入志愿时长">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="save()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="mod-detail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">用户活动详情</span>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>活动ID</th>
                            <th>名称</th>
                            <th>时间</th>
                            <th>志愿时长</th>
                            <th>阳光信用</th>

                        </tr>
                        </thead>
                        <tbody v-for="o in detailList">
                        <tr>
                          <td>{{o.activityId}}</td>
                            <td>{{o.name}}</td>
                            <td>{{o.actTime}}</td>
                            <td>{{o.dur}}</td>
                            <td>{{o.credit}}</td>


                        </tr>

                        </tbody>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.metisMenu.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/my.js"></script>
<script src="../js/vue2.6.11/vue.min.js"></script>
<script src="../js/vue2.6.11/axios.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/element/index.js"></script>
<script>
    function msg(type, msg) {
        Vue.prototype.$message({
            type: type,//success(成功)，warning (警告)，error(错误)
            message: msg,
            duration: 2000,
            offset: 100,
            center: true
        })
    }

    new Vue({
        el: "#wrapper",
        data: {
            detailList:[],
            CHANGE:1,
            pageInfo1: {},
            preActive1: true,
            nextActive1: true,
            gender: 3,
            Filter: 3,
            order: 3,
            End: null,
            Start: null,
            classSelected: 0,
            admin: {},
            name: '',
            objs: [],
            pageInfo: {},
            preActive: true,
            nextActive: true,
            entity: {
                sex: '男'
            }
        },
        created: function () {
            this.admin = JSON.parse(localStorage.getItem('admin'));
            this.loadTable(1);
        },
        methods: {
            JIANSUO(pageNum) {
                this.CHANGE=0;
                let order=this.order;
                let gender = this.gender;
                let filter = this.Filter;
                let Start=this.Start;
                let End=this.End;
                axios.get("/user/key/" +filter+"/"+ order+"/"+gender+"?pageNum="+pageNum+"&start="+Start+"&end="+End).then(res => {
                    if (res.data.code === '0') {
                        this.objs = res.data.data.list;
                        this.pageInfo1 = res.data.data;
                        this.preActive1 = !(this.pageInfo1.hasPreviousPage);
                        this.nextActive1 = !(this.pageInfo1.hasNextPage);
                    } else {
                        msg('error', res.data.msg);
                    }
                });
            },
            //退出登录
            logout() {
                this.$confirm('确认退出登录? ', '系统提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    cancelButtonClass: 'btn-custom-cancel',
                    type: 'warning'
                }).then(function () {
                    axios.get("/admin/logout").then(res => {
                        if (res.data.code === "0") {
                            window.location = '/end/page/login.html';
                        }
                    });
                }).catch(function () {
                    console.log("取消成功!");
                });
            },
            //加载表格
            loadTable(pageNum) {
                let name = this.name === '' ? 'all' : this.name;
                let key = this.classSelected;

                axios.get("/user/page/" + name + "/" + key + "?pageNum=" + pageNum).then(res => {
                    if (res.data.code === '0') {
                        this.objs = res.data.data.list;
                        this.pageInfo = res.data.data;
                        this.preActive = !(this.pageInfo.hasPreviousPage);
                        this.nextActive = !(this.pageInfo.hasNextPage);
                    } else {
                        msg('error', res.data.msg);
                    }
                });
            },
            detailLook(id){
                axios.get("/signup/userActivty/" + id).then(res => {
                    if (res.data.code === "0") {
                        this.detailList = res.data.data;

                    } else {
                        msg('error', res.data.msg);
                    }
                });
                $('#mod-detail').modal('show');
            },

            //编辑
            init(o) {
                this.entity = JSON.parse(JSON.stringify(o));
                $('#mod').modal('show');
            },

            //保存
            save() {
                axios.put("/user/modify", this.entity).then(res => {
                    if (res.data.code === "0") {
                        msg('success', '更新成功');
                        $('#mod').modal('hide');
                        this.loadTable(1);
                    } else {
                        msg('error', res.data.msg);
                    }
                });

            },

            //删除
            del(id) {
                let _this = this;
                this.$confirm('确认删除? ', '系统提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    cancelButtonClass: 'btn-custom-cancel',
                    type: 'warning'
                }).then(function () {
                    axios.delete("/user/delete/" + id).then(res => {
                        if (res.data.code === "0") {
                            msg('success', '删除成功');
                            _this.loadTable(1);
                        } else {
                            msg('error', res.data.msg);
                        }
                    });
                }).catch(function () {
                    console.log("取消成功!");
                });
            }
        }
    });
</script>
</body>
</html>